infrastructure/n8n/agendamiento-flow.json
{
  "name": "Agendamiento - Citas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Nueva Cita",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COUNT(*)::int AS conflicts\nFROM appointments\nWHERE psychologist_id = (SELECT id FROM psychologists LIMIT 1)\n  AND status NOT IN ('cancelled', 'no_show')\n  AND deleted_at IS NULL\n  AND scheduled_at < '{{ $json.body.scheduled_end }}'\n  AND scheduled_at + (duration_minutes || ' minutes')::INTERVAL + '10 minutes'::INTERVAL > '{{ $json.body.scheduled_at }}'",
        "options": {}
      },
      "id": "check-availability",
      "name": "PostgreSQL - Verificar Disponibilidad",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition-conflicts",
                "name": "Condition",
                "value1": "={{ $json.conflicts }}",
                "operation": "equals",
                "value2": 0
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-available",
      "name": "IF - Disponible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointments (psychologist_id, patient_id, scheduled_at, duration_minutes, appointment_type, status, google_calendar_event_id, created_at, updated_at)\nVALUES (\n  $1::uuid,\n  (SELECT id FROM patients WHERE email = $2 LIMIT 1),\n  $3::timestamptz,\n  $4::integer,\n  $5,\n  'scheduled',\n  $6,\n  NOW(),\n  NOW()\n)\nRETURNING id, scheduled_at, appointment_type",
        "options": {
          "queryReplacement": "={{ $json.body.psychologist_id }},={{ $json.body.email }},={{ $json.body.scheduled_at }},={{ $json.body.duration || 50 }},={{ $json.body.type }},={{ $json.calendar_event_id || null }}"
        }
      },
      "id": "create-appointment",
      "name": "PostgreSQL - Crear Cita",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "calendar": "primary",
        "title": "=Consulta - {{ $json.body.patient_name }}",
        "start": "={{ $json.body.scheduled_at }}",
        "end": "={{ $json.body.scheduled_end }}",
        "options": {}
      },
      "id": "create-calendar",
      "name": "Google Calendar - Crear Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "to": "={{ $json.body.email }}",
        "subject": "✅ Tu cita ha sido confirmada",
        "body": "=Hola {{ $json.body.patient_name }},\n\nTu cita ha sido confirmada:\n📅 Fecha: {{ $json.body.scheduled_date }}\n⏰ Hora: {{ $json.body.scheduled_time }}\n{{ $json.meet_link ? '\n🔗 Meet: ' + $json.meet_link : '' }}\n\nPara cancelar o reprogramar, contactanos con 24h de anticipación.\n\nSaludos",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Gmail - Confirmación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.body.email }}",
        "subject": "⚠️ Horario No Disponible",
        "body": "=Hola {{ $json.body.patient_name }},\n\nLamentamos informarte que el horario solicitado no está disponible.\n\nPor favor, prueba con otro horario.\n\nSaludos",
        "options": {}
      },
      "id": "send-unavailable",
      "name": "Gmail - No Disponible",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Webhook - Nueva Cita": {
      "main": [[
        {
          "node": "PostgreSQL - Verificar Disponibilidad",
          "type": "main"
        }
      ]]
    },
    "PostgreSQL - Verificar Disponibilidad": {
      "main": [[
        {
          "node": "IF - Disponible?",
          "type": "main"
        }
      ]]
    },
    "IF - Disponible?": {
      "main": [
        [
          {
            "node": "PostgreSQL - Crear Cita",
            "type": "main"
          }
        ],
        [
          {
            "node": "Gmail - No Disponible",
            "type": "main"
          }
        ]
      ]
    },
    "PostgreSQL - Crear Cita": {
      "main": [[
        {
          "node": "Google Calendar - Crear Evento",
          "type": "main"
        }
      ]]
    },
    "Google Calendar - Crear Evento": {
      "main": [[
        {
          "node": "Gmail - Confirmación",
          "type": "main"
        }
      ]]
    }
  },
  "active": false,
  "settings": {},
  "id": "agendamiento-flow"
}