infrastructure/n8n/api-auth-login.json
{
  "id": "api-auth-login",
  "name": "API - Auth Login",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook - Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const { createHmac } = require('crypto');\nconst body = $input.item.json.body || {};\nconst u = body.username;\nconst p = body.password;\n\nif (!u || !p) {\n  return [{ json: { _status: 400, error: 'missing_credentials' } }];\n}\n\nif (u !== $env.N8N_AUTH_USER || p !== $env.N8N_AUTH_PASS) {\n  return [{ json: { _status: 401, error: 'invalid_credentials' } }];\n}\n\nconst secret = $env.JWT_SECRET;\nconst now = Math.floor(Date.now() / 1000);\nconst exp = now + 28800;\n\nconst b64url = (obj) =>\n  Buffer.from(JSON.stringify(obj)).toString('base64url');\n\nconst header = b64url({ alg: 'HS256', typ: 'JWT' });\nconst payload = b64url({ sub: u, role: 'psychologist', iat: now, exp });\nconst sig = createHmac('sha256', secret)\n  .update(`${header}.${payload}`)\n  .digest('base64url');\n\nconst token = `${header}.${payload}.${sig}`;\n\nreturn [{ json: { _status: 200, token, expiresAt: exp } }];",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Code - Validate & Sign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status-200",
              "leftValue": "={{ $json._status }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "rightValue": 200
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "IF - Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ JSON.stringify({ token: $json.token, expiresAt: $json.expiresAt }) }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Respond - 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json._status }}",
          "responseData": "={{ JSON.stringify({ error: $json.error }) }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 450]
    }
  ],
  "connections": {
    "Webhook - Login": {
      "main": [
        [
          {
            "node": "Code - Validate & Sign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate & Sign": {
      "main": [
        [
          {
            "node": "IF - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Success": {
      "main": [
        [
          {
            "node": "Respond - 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
