infrastructure/n8n/api-gdpr-export.json
{
  "id": "api-gdpr-export",
  "name": "API - GDPR Export",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gdpr/export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createHmac, timingSafeEqual } = require('crypto');\nconst auth = $input.item.json.headers?.authorization || '';\nconst token = auth.replace(/^Bearer\\s+/i, '').trim();\nconst secret = $env.JWT_SECRET;\nif (!token) { $input.item.json.jwtValid = false; return $input.item; }\nconst parts = token.split('.');\nif (parts.length !== 3) { $input.item.json.jwtValid = false; return $input.item; }\nconst [h, p, s] = parts;\nconst expected = createHmac('sha256', secret).update(`${h}.${p}`).digest('base64url');\nconst eBuf = Buffer.from(expected); const aBuf = Buffer.from(s);\nif (eBuf.length !== aBuf.length || !timingSafeEqual(eBuf, aBuf)) { $input.item.json.jwtValid = false; return $input.item; }\nconst payload = JSON.parse(Buffer.from(p, 'base64url').toString());\nif (payload.exp < Math.floor(Date.now() / 1000)) { $input.item.json.jwtValid = false; return $input.item; }\nif (!payload.psychologist_id) { $input.item.json.jwtValid = false; return $input.item; }\n$input.item.json.jwtValid = true;\n$input.item.json.jwtPsychologistId = payload.psychologist_id;\n$input.item.json.jwtRole = payload.role;\n$input.item.json.patientId = $input.item.json.query?.patient_id || null;\nreturn $input.item;",
        "options": {}
      },
      "id": "jwt-verify",
      "name": "Code - JWT Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-jwt-valid",
              "leftValue": "={{ $json.jwtValid }}",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-jwt",
      "name": "IF - JWT válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 401,
          "responseData": "={\"error\":\"Unauthorized\"}",
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        }
      },
      "id": "respond-401",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, last_name, email, phone, date_of_birth, gender, consent_status, created_at, psychologist_id FROM patients WHERE id = $1::uuid AND deleted_at IS NULL",
        "options": {
          "queryReplacement": "={{ $json.patientId }}"
        }
      },
      "id": "pg-fetch-patient",
      "name": "PG - Fetch Patient",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.item.json;\nconst jwtRole = $('Code - JWT Verify').item.json.jwtRole;\nconst jwtPsychologistId = $('Code - JWT Verify').item.json.jwtPsychologistId;\n\n// Patient not found\nif (!row.id) {\n  $input.item.json._notFound = true;\n  return $input.item;\n}\n\n// Tenant isolation: non-admin can only access own patients (ADR-5)\nconst isAdmin = jwtRole === 'admin';\nconst isOwner = row.psychologist_id === jwtPsychologistId;\nif (!isAdmin && !isOwner) {\n  // Return 404, not 403 — prevents UUID enumeration\n  $input.item.json._notFound = true;\n  return $input.item;\n}\n\n$input.item.json._accessOk = true;\n$input.item.json._patientId = row.id;\nreturn $input.item;",
        "options": {}
      },
      "id": "code-access-check",
      "name": "Code - Access Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-access-ok",
              "leftValue": "={{ $json._accessOk }}",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-access-ok",
      "name": "IF - Access OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 404,
          "responseData": "={\"error\":\"Not Found\"}",
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] }
        }
      },
      "id": "respond-404",
      "name": "Respond 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, scheduled_at, duration_minutes, appointment_type, status, session_notes, google_meet_link, created_at FROM appointments WHERE patient_id = $1::uuid AND deleted_at IS NULL ORDER BY scheduled_at DESC",
        "options": {
          "queryReplacement": "={{ $json._patientId }}"
        }
      },
      "id": "pg-fetch-appointments",
      "name": "PG - Fetch Appointments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "const appointments = $input.all().map(r => r.json);\nconst patient = $('PG - Fetch Patient').item.json;\nconst patientId = patient.id;\n// Store appointments on the item for later merge\nreturn [{ json: { _patientId: patientId, _patient: patient, _appointments: appointments } }];",
        "options": {}
      },
      "id": "code-store-appointments",
      "name": "Code - Store Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT json_agg(json_build_object('id', t.id, 'occupation', t.occupation, 'marital_status', t.marital_status, 'number_of_children', t.number_of_children, 'education_level', t.education_level, 'religion', t.religion, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM demographics t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS demographics,\n  (SELECT json_agg(json_build_object('id', t.id, 'complaint_text', t.complaint_text, 'symptom_duration', t.symptom_duration, 'symptom_onset', t.symptom_onset, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM chief_complaint t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS chief_complaint,\n  (SELECT json_agg(json_build_object('id', t.id, 'medical_conditions', t.medical_conditions, 'surgeries', t.surgeries, 'current_medications', t.current_medications, 'allergies', t.allergies, 'previous_psychiatric_treatment', t.previous_psychiatric_treatment, 'previous_hospitalization', t.previous_hospitalization, 'psychiatric_treatment_details', t.psychiatric_treatment_details, 'alcohol_use', t.alcohol_use, 'tobacco_use', t.tobacco_use, 'drug_use', t.drug_use, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM personal_history t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS personal_history,\n  (SELECT json_agg(json_build_object('id', t.id, 'family_composition', t.family_composition, 'family_psychiatric_illness', t.family_psychiatric_illness, 'family_medical_conditions', t.family_medical_conditions, 'family_substance_abuse', t.family_substance_abuse, 'family_suicide_history', t.family_suicide_history, 'parental_relationship', t.parental_relationship, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM family_history t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS family_history,\n  (SELECT json_agg(json_build_object('id', t.id, 'pregnancy_complications', t.pregnancy_complications, 'birth_complications', t.birth_complications, 'developmental_milestones', t.developmental_milestones, 'childhood_traumas', t.childhood_traumas, 'school_performance', t.school_performance, 'significant_life_events', t.significant_life_events, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM developmental_history t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS developmental_history,\n  (SELECT json_agg(json_build_object('id', t.id, 'appearance', t.appearance, 'mood', t.mood, 'speech', t.speech, 'thought_process', t.thought_process, 'thought_content', t.thought_content, 'intellect_level', t.intellect_level, 'insight', t.insight, 'judgment', t.judgment, 'tests_administered', t.tests_administered, 'evaluation_results', t.evaluation_results, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM psychological_evaluation t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS psychological_evaluation,\n  (SELECT json_agg(json_build_object('id', t.id, 'primary_diagnosis_code', t.primary_diagnosis_code, 'primary_diagnosis_name', t.primary_diagnosis_name, 'diagnosis_description', t.diagnosis_description, 'comorbid_diagnoses', t.comorbid_diagnoses, 'severity', t.severity, 'diagnostic_impression', t.diagnostic_impression, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM diagnosis t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS diagnosis,\n  (SELECT json_agg(json_build_object('id', t.id, 'short_term_goals', t.short_term_goals, 'long_term_goals', t.long_term_goals, 'therapy_modality', t.therapy_modality, 'planned_duration_weeks', t.planned_duration_weeks, 'estimated_sessions', t.estimated_sessions, 'session_frequency', t.session_frequency, 'interventions', t.interventions, 'referrals', t.referrals, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM treatment_plan t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS treatment_plan,\n  (SELECT json_agg(json_build_object('id', t.id, 'country_normative', t.country_normative, 'consent_type', t.consent_type, 'consent_text', t.consent_text, 'signed_at', t.signed_at, 'ip_address', t.ip_address, 'status', t.status, 'created_at', t.created_at)) FROM consentimientos t WHERE t.patient_id = $1::uuid ORDER BY t.created_at DESC) AS consentimientos,\n  (SELECT json_agg(json_build_object('id', t.id, 'appearance', t.appearance, 'behavior', t.behavior, 'speech', t.speech, 'mood', t.mood, 'affect', t.affect, 'thought_process', t.thought_process, 'thought_content', t.thought_content, 'perception', t.perception, 'cognition', t.cognition, 'insight', t.insight, 'judgment', t.judgment, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM mental_status_exam t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS mental_status_exam,\n  (SELECT json_agg(json_build_object('id', t.id, 'living_situation', t.living_situation, 'employment_status', t.employment_status, 'social_support', t.social_support, 'relationships', t.relationships, 'hobbies', t.hobbies, 'stressors', t.stressors, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM social_profile t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS social_profile,\n  (SELECT json_agg(json_build_object('id', t.id, 'temperament', t.temperament, 'character_traits', t.character_traits, 'coping_mechanisms', t.coping_mechanisms, 'defense_mechanisms', t.defense_mechanisms, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM personality_profile t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS personality_profile,\n  (SELECT json_agg(json_build_object('id', t.id, 'summary', t.summary, 'formulation', t.formulation, 'prognosis', t.prognosis, 'recommendations', t.recommendations, 'version', t.version, 'is_current', t.is_current, 'created_at', t.created_at)) FROM clinical_impression t WHERE t.patient_id = $1::uuid AND t.is_current = TRUE) AS clinical_impression",
        "options": {
          "queryReplacement": "={{ $json._patientId }}"
        }
      },
      "id": "pg-fetch-clinical-history",
      "name": "PG - Fetch Clinical History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "const hcRow = $input.item.json;\nconst stored = $('Code - Store Appointments').item.json;\nconst patient = stored._patient;\nconst appointments = stored._appointments;\nconst patientId = stored._patientId;\n\n// Map each HC section from the single-row correlated subquery result.\n// json_agg returns null when there are no rows — coalesce to empty array.\nconst sections = [\n  'demographics', 'chief_complaint', 'personal_history', 'family_history',\n  'developmental_history', 'psychological_evaluation', 'diagnosis', 'treatment_plan',\n  'consentimientos', 'mental_status_exam', 'social_profile', 'personality_profile',\n  'clinical_impression'\n];\n\nconst clinical_history = {};\nfor (const section of sections) {\n  clinical_history[section] = hcRow[section] || [];\n}\n\nconst exportData = {\n  exported_at: new Date().toISOString(),\n  patient: {\n    id: patient.id,\n    first_name: patient.first_name,\n    last_name: patient.last_name,\n    email: patient.email,\n    phone: patient.phone,\n    date_of_birth: patient.date_of_birth,\n    gender: patient.gender,\n    consent_status: patient.consent_status,\n    created_at: patient.created_at\n  },\n  appointments,\n  clinical_history\n};\n\nreturn [{ json: { export: JSON.stringify(exportData, null, 2), patient_id: patientId } }];",
        "options": {}
      },
      "id": "code-build-export",
      "name": "Code - Build Export JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (table_name, record_id, operation, psychologist_id) VALUES ('patients', $1::uuid, 'EXPORT', $2::uuid)",
        "options": {
          "queryReplacement": "={{ $json.patient_id }},={{ $('Code - JWT Verify').item.json.jwtPsychologistId }}"
        }
      },
      "id": "pg-write-audit",
      "name": "PG - Write EXPORT Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2750, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "={{ $('Code - Build Export JSON').item.json.export }}",
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Content-Disposition", "value": "={{ 'attachment; filename=\"gdpr_export_' + $('Code - Build Export JSON').item.json.patient_id + '.json\"' }}" }
            ]
          }
        }
      },
      "id": "respond-200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code - JWT Verify", "type": "main", "index": 0 }]]
    },
    "Code - JWT Verify": {
      "main": [[{ "node": "IF - JWT válido", "type": "main", "index": 0 }]]
    },
    "IF - JWT válido": {
      "main": [
        [{ "node": "PG - Fetch Patient", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "PG - Fetch Patient": {
      "main": [[{ "node": "Code - Access Check", "type": "main", "index": 0 }]]
    },
    "Code - Access Check": {
      "main": [[{ "node": "IF - Access OK", "type": "main", "index": 0 }]]
    },
    "IF - Access OK": {
      "main": [
        [{ "node": "PG - Fetch Appointments", "type": "main", "index": 0 }],
        [{ "node": "Respond 404", "type": "main", "index": 0 }]
      ]
    },
    "PG - Fetch Appointments": {
      "main": [[{ "node": "Code - Store Appointments", "type": "main", "index": 0 }]]
    },
    "Code - Store Appointments": {
      "main": [[{ "node": "PG - Fetch Clinical History", "type": "main", "index": 0 }]]
    },
    "PG - Fetch Clinical History": {
      "main": [[{ "node": "Code - Build Export JSON", "type": "main", "index": 0 }]]
    },
    "Code - Build Export JSON": {
      "main": [[{ "node": "PG - Write EXPORT Audit", "type": "main", "index": 0 }]]
    },
    "PG - Write EXPORT Audit": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
