infrastructure/n8n/api-leads.json
{
  "name": "API - Leads",
  "nodes": [
    {
      "parameters": { "httpMethod": "GET", "path": "leads", "responseMode": "responseNode", "options": {} },
      "id": "webhook-get", "name": "Webhook GET", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 150]
    },
    {
      "parameters": {
        "jsCode": "const { createHmac, timingSafeEqual } = require('crypto');\nconst auth = $input.item.json.headers?.authorization || '';\nconst token = auth.replace(/^Bearer\\s+/i, '').trim();\nconst secret = $env.JWT_SECRET;\nif (!token) { $input.item.json.jwtValid = false; return $input.item; }\nconst parts = token.split('.');\nif (parts.length !== 3) { $input.item.json.jwtValid = false; return $input.item; }\nconst [h, p, s] = parts;\nconst expected = createHmac('sha256', secret).update(`${h}.${p}`).digest('base64url');\nconst eBuf = Buffer.from(expected); const aBuf = Buffer.from(s);\nif (eBuf.length !== aBuf.length || !timingSafeEqual(eBuf, aBuf)) { $input.item.json.jwtValid = false; return $input.item; }\nconst payload = JSON.parse(Buffer.from(p, 'base64url').toString());\nif (payload.exp < Math.floor(Date.now() / 1000)) { $input.item.json.jwtValid = false; return $input.item; }\n$input.item.json.jwtValid = true;\nreturn $input.item;",
        "options": {}
      },
      "id": "jwt-verify-get", "name": "Code - JWT Verify (GET)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 150]
    },
    {
      "parameters": {
        "rule": { "conditions": { "conditions": [{ "id": "c1", "value1": "={{ $json.jwtValid }}", "operation": "equals", "value2": true }], "combinator": "and" }, "options": {} },
        "options": {}
      },
      "id": "if-jwt-get", "name": "IF - JWT GET", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [750, 150]
    },
    {
      "parameters": { "options": { "responseCode": 401, "responseData": "={\"error\":\"Unauthorized\"}" } },
      "id": "respond-401-get", "name": "Respond 401 GET", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1000, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.id, l.first_name, l.last_name, l.email, l.phone, l.source, l.status, l.lead_score, l.tags, l.created_at\nFROM leads l\nWHERE l.deleted_at IS NULL\nORDER BY l.created_at DESC\nLIMIT 100",
        "options": {}
      },
      "id": "get-leads", "name": "PostgreSQL - Listar Leads", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [1000, 0]
    },
    {
      "parameters": { "options": { "responseCode": 200, "responseData": "={{ JSON.stringify({ leads: $input.all().map(i => i.json) }) }}" } },
      "id": "respond-get", "name": "Respond GET", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1250, 0]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "leads", "responseMode": "responseNode", "options": {} },
      "id": "webhook-post", "name": "Webhook POST", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 600]
    },
    {
      "parameters": {
        "jsCode": "const { createHmac, timingSafeEqual } = require('crypto');\nconst auth = $input.item.json.headers?.authorization || '';\nconst token = auth.replace(/^Bearer\\s+/i, '').trim();\nconst secret = $env.JWT_SECRET;\nif (!token) { $input.item.json.jwtValid = false; return $input.item; }\nconst parts = token.split('.');\nif (parts.length !== 3) { $input.item.json.jwtValid = false; return $input.item; }\nconst [h, p, s] = parts;\nconst expected = createHmac('sha256', secret).update(`${h}.${p}`).digest('base64url');\nconst eBuf = Buffer.from(expected); const aBuf = Buffer.from(s);\nif (eBuf.length !== aBuf.length || !timingSafeEqual(eBuf, aBuf)) { $input.item.json.jwtValid = false; return $input.item; }\nconst payload = JSON.parse(Buffer.from(p, 'base64url').toString());\nif (payload.exp < Math.floor(Date.now() / 1000)) { $input.item.json.jwtValid = false; return $input.item; }\n$input.item.json.jwtValid = true;\nreturn $input.item;",
        "options": {}
      },
      "id": "jwt-verify-post", "name": "Code - JWT Verify (POST)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 600]
    },
    {
      "parameters": {
        "rule": { "conditions": { "conditions": [{ "id": "c2", "value1": "={{ $json.jwtValid }}", "operation": "equals", "value2": true }], "combinator": "and" }, "options": {} },
        "options": {}
      },
      "id": "if-jwt-post", "name": "IF - JWT POST", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [750, 600]
    },
    {
      "parameters": { "options": { "responseCode": 401, "responseData": "={\"error\":\"Unauthorized\"}" } },
      "id": "respond-401-post", "name": "Respond 401 POST", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1000, 800]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (first_name, last_name, email, phone, source, status, lead_score, created_at, updated_at)\nVALUES ($1, $2, $3, $4, COALESCE($5, 'web'), 'new', 0, NOW(), NOW())\nRETURNING id, first_name, phone",
        "options": { "queryReplacement": "={{ $json.body.first_name }},={{ $json.body.last_name }},={{ $json.body.email }},={{ $json.body.phone }},={{ $json.body.source }}" }
      },
      "id": "create-lead", "name": "PostgreSQL - Crear Lead", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [1000, 550]
    },
    {
      "parameters": { "options": { "responseCode": 201, "responseData": "={{ JSON.stringify($json) }}" } },
      "id": "respond-post", "name": "Respond POST", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1250, 550]
    }
  ],
  "connections": {
    "Webhook GET": { "main": [[{ "node": "Code - JWT Verify (GET)", "type": "main" }]] },
    "Code - JWT Verify (GET)": { "main": [[{ "node": "IF - JWT GET", "type": "main" }]] },
    "IF - JWT GET": { "main": [[{ "node": "PostgreSQL - Listar Leads", "type": "main" }], [{ "node": "Respond 401 GET", "type": "main" }]] },
    "PostgreSQL - Listar Leads": { "main": [[{ "node": "Respond GET", "type": "main" }]] },
    "Webhook POST": { "main": [[{ "node": "Code - JWT Verify (POST)", "type": "main" }]] },
    "Code - JWT Verify (POST)": { "main": [[{ "node": "IF - JWT POST", "type": "main" }]] },
    "IF - JWT POST": { "main": [[{ "node": "PostgreSQL - Crear Lead", "type": "main" }], [{ "node": "Respond 401 POST", "type": "main" }]] },
    "PostgreSQL - Crear Lead": { "main": [[{ "node": "Respond POST", "type": "main" }]] }
  },
  "active": true, "settings": {}, "id": "api-leads"
}
