infrastructure/n8n/api-create-appointment.json
{
  "name": "API - Create Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition-patient",
                "name": "Condition",
                "value1": "={{ $json.body.patient_id }}",
                "operation": "set",
                "value2": null
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-patient",
      "name": "IF - Patient Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO appointments (psychologist_id, patient_id, scheduled_at, duration_minutes, appointment_type, status, created_at, updated_at)\nVALUES (\n  (SELECT id FROM psychologists LIMIT 1),\n  $body.patient_id,\n  $body.scheduled_at,\n  $body.duration_minutes,\n  $body.appointment_type,\n  'scheduled',\n  NOW(),\n  NOW()\n)\nRETURNING id, scheduled_at, appointment_type",
        "options": {}
      },
      "id": "create-appointment",
      "name": "PostgreSQL - Crear Cita",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [750, 150]
    },
    {
      "parameters": {
        "to": "={{ $json.body.email }}",
        "subject": "📅 Tu cita ha sido programada",
        "body": "=Hola,\n\nTu cita ha sido programada exitosamente.\n\n📅 Fecha: {{ $json.scheduled_at }}\n📋 Tipo: {{ $json.appointment_type }}\n\nTe enviaremos un recordatorio antes.\n\nSaludos",
        "options": {}
      },
      "id": "email-confirm",
      "name": "Gmail - Confirmación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "to": "={{ $json.body.email }}",
        "subject": "⚠️ Error al agendar",
        "body": "=Hola,\n\nLamentablemente no pudimos agendar la cita. Por favor contactanos.\n\nSaludos",
        "options": {}
      },
      "id": "error-email",
      "name": "Gmail - Error",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "response": {
          "response": {
            "response": "={{ { success: true, message: 'Cita programada' } }}"
          }
        },
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "IF - Patient Exists", "type": "main" }]] },
    "IF - Patient Exists": {
      "main": [
        [{ "node": "PostgreSQL - Crear Cita", "type": "main" }],
        [{ "node": "Gmail - Error", "type": "main" }]
      ]
    },
    "PostgreSQL - Crear Cita": { "main": [[{ "node": "Gmail - Confirmación", "type": "main" }]] },
    "Gmail - Confirmación": { "main": [[{ "node": "Respond", "type": "main" }]] }
  },
  "active": true,
  "settings": {},
  "id": "api-create-appointment"
}