infrastructure/n8n/confirmacion.json
{
  "name": "Confirmación - Click de Paciente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "confirm/:appointmentId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Confirmar/Cancelar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const appointmentId = $input.item.json.params?.appointmentId || null;\nconst action = ($input.item.json.query?.action || '').toLowerCase();\nconst valid = !!appointmentId && ['confirmar','cancelar'].includes(action);\n$input.item.json.appointmentId = appointmentId;\n$input.item.json.action = action;\n$input.item.json.valid = valid;\nreturn $input.item;",
        "options": {}
      },
      "id": "parse",
      "name": "Code - Parsear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "conditions": [{ "id": "c1", "value1": "={{ $json.valid }}", "operation": "equals", "value2": true }],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "IF - Válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "options": { "responseCode": 400, "responseData": "<html><body><h2>Link inválido</h2><p>El link no es válido o ya expiró.</p></body></html>", "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] } }
      },
      "id": "respond-400",
      "name": "400 - Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "conditions": [{ "id": "c2", "value1": "={{ $json.action }}", "operation": "equals", "value2": "confirmar" }],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-action",
      "name": "IF - Acción",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET status = 'confirmed', updated_at = NOW() WHERE id = $1::uuid AND deleted_at IS NULL",
        "options": { "queryReplacement": "={{ $json.appointmentId }}" }
      },
      "id": "pg-confirm",
      "name": "PG - Confirmar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 50]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET status = 'cancelled', updated_at = NOW() WHERE id = $1::uuid AND deleted_at IS NULL",
        "options": { "queryReplacement": "={{ $json.appointmentId }}" }
      },
      "id": "pg-cancel",
      "name": "PG - Cancelar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "<html><head><meta charset='utf-8'><style>body{font-family:sans-serif;display:flex;justify-content:center;align-items:center;height:100vh;margin:0;background:#f0fdf4}.box{text-align:center;padding:40px;border-radius:12px;background:white;box-shadow:0 2px 12px rgba(0,0,0,.08)}</style></head><body><div class='box'><h1>✅</h1><h2>¡Asistencia confirmada!</h2><p>Tu cita ha sido confirmada correctamente.</p><p>Nos vemos pronto.</p></div></body></html>",
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "id": "respond-confirmed",
      "name": "Respuesta - Confirmado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 50]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "<html><head><meta charset='utf-8'><style>body{font-family:sans-serif;display:flex;justify-content:center;align-items:center;height:100vh;margin:0;background:#fef2f2}.box{text-align:center;padding:40px;border-radius:12px;background:white;box-shadow:0 2px 12px rgba(0,0,0,.08)}</style></head><body><div class='box'><h1>❌</h1><h2>Cita cancelada</h2><p>Tu cita ha sido cancelada.</p><p>Cuando quieras reprogramar, contáctanos.</p></div></body></html>",
          "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/html" }] }
        }
      },
      "id": "respond-cancelled",
      "name": "Respuesta - Cancelado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 250]
    }
  ],
  "connections": {
    "Webhook - Confirmar/Cancelar": { "main": [[{ "node": "Code - Parsear", "type": "main" }]] },
    "Code - Parsear": { "main": [[{ "node": "IF - Válido", "type": "main" }]] },
    "IF - Válido": {
      "main": [
        [{ "node": "IF - Acción", "type": "main" }],
        [{ "node": "400 - Inválido", "type": "main" }]
      ]
    },
    "IF - Acción": {
      "main": [
        [{ "node": "PG - Confirmar", "type": "main" }],
        [{ "node": "PG - Cancelar", "type": "main" }]
      ]
    },
    "PG - Confirmar": { "main": [[{ "node": "Respuesta - Confirmado", "type": "main" }]] },
    "PG - Cancelar": { "main": [[{ "node": "Respuesta - Cancelado", "type": "main" }]] }
  },
  "active": true,
  "settings": {},
  "id": "confirmacion"
}
