infrastructure/n8n/google-sheets-sync.json
{
  "name": "Google Sheets - Sync Citas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  TO_CHAR(a.scheduled_at AT TIME ZONE 'America/Bogota', 'YYYY-MM-DD') AS fecha,\n  TO_CHAR(a.scheduled_at AT TIME ZONE 'America/Bogota', 'HH12:MI AM')  AS hora,\n  p.first_name || ' ' || p.last_name                                   AS paciente,\n  p.email,\n  p.phone                                                               AS telefono,\n  a.appointment_type                                                    AS tipo,\n  a.duration_minutes                                                    AS duracion_min,\n  a.status                                                              AS estado,\n  COALESCE(a.google_meet_link, '')                                      AS meet_link,\n  COALESCE(a.google_calendar_event_id, '')                              AS calendar_id,\n  COALESCE(a.session_notes, '')                                         AS notas,\n  TO_CHAR(a.created_at AT TIME ZONE 'America/Bogota', 'YYYY-MM-DD HH12:MI AM') AS creada_en\nFROM appointments a\nJOIN patients p ON a.patient_id = p.id\nWHERE a.created_at >= NOW() - INTERVAL '1 hour'\n  AND a.deleted_at IS NULL\nORDER BY a.scheduled_at ASC",
        "options": {}
      },
      "id": "pg-get",
      "name": "PG - Citas nueva hora",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "conditions": [{ "id": "c1", "value1": "={{ $json.fecha }}", "operation": "isNotEmpty" }],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-new",
      "name": "IF - Hay nuevas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "={{ $env.GOOGLE_SHEET_ID }}", "mode": "id" },
        "sheetName": { "value": "Citas", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha":        "={{ $json.fecha }}",
            "Hora":         "={{ $json.hora }}",
            "Paciente":     "={{ $json.paciente }}",
            "Email":        "={{ $json.email }}",
            "Teléfono":     "={{ $json.telefono }}",
            "Tipo":         "={{ $json.tipo }}",
            "Duración":     "={{ $json.duracion_min }}",
            "Estado":       "={{ $json.estado }}",
            "Meet":         "={{ $json.meet_link }}",
            "Calendar ID":  "={{ $json.calendar_id }}",
            "Notas":        "={{ $json.notas }}",
            "Creada":       "={{ $json.creada_en }}"
          }
        },
        "options": {}
      },
      "id": "append-sheet",
      "name": "Google Sheets - Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1000, 150]
    }
  ],
  "connections": {
    "Schedule - Cada hora": { "main": [[{ "node": "PG - Citas nueva hora", "type": "main" }]] },
    "PG - Citas nueva hora": { "main": [[{ "node": "IF - Hay nuevas", "type": "main" }]] },
    "IF - Hay nuevas": {
      "main": [
        [{ "node": "Google Sheets - Append", "type": "main" }],
        []
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "google-sheets-sync"
}
