infrastructure/n8n/google-sheets-sync.json
{
  "name": "Google Sheets - Sync Citas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  a.id,\n  a.scheduled_at AT TIME ZONE 'America/Mexico_City' AS scheduled_at,\n  a.appointment_type,\n  a.status,\n  a.duration_minutes,\n  p.first_name,\n  p.last_name,\n  p.email,\n  p.phone,\n  COALESCE(a.google_meet_link, '') AS google_meet_link,\n  a.created_at AT TIME ZONE 'America/Mexico_City' AS created_at,\n  NOW() AT TIME ZONE 'America/Mexico_City' AS sync_at\nFROM appointments a\nJOIN patients p ON a.patient_id = p.id\nWHERE \n  a.created_at >= NOW() - INTERVAL '1 hour'\n  AND a.deleted_at IS NULL\nORDER BY a.created_at DESC",
        "options": {}
      },
      "id": "get-appointments",
      "name": "PostgreSQL - Citas nuevas (última hora)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition",
                "name": "Condition",
                "value1": "={{ $input.all().length }}",
                "operation": "gt",
                "value2": 0
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "options": {}
      },
      "id": "if-new",
      "name": "IF - Hay nuevas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "{{ $env.GOOGLE_SHEET_ID }}",
        "range": "A2",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "append-sheet",
      "name": "Google Sheets - Syncing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET updated_at = NOW() WHERE id = ANY($1::uuid[])",
        "options": {
          "queryReplacement": "={{ '{' + $input.all().map(x => x.json.id).join(',') + '}' }}"
        }
      },
      "id": "mark-synced",
      "name": "PostgreSQL - Mark synced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "to": "{{ $env.NOTIFICATION_EMAIL }}",
        "subject": "={{ '📊 Sync: ' + $input.all().length + ' nuevas citas' }}",
        "body": "={{ $input.all().length + ' nuevas citas sincronizadas a Google Sheets. \n\n' + $input.all().map(x => x.json.scheduled_at + ' - ' + x.json.first_name + ' ' + x.json.last_name + ' (' + x.json.appointment_type + ')').join('\n') }}",
        "options": {}
      },
      "id": "email-notify",
      "name": "Gmail - Notificación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "to": "{{ $env.NOTIFICATION_EMAIL }}",
        "subject": "📭 No hay nuevas citas para sync",
        "body": "No se encontraron citas nuevas para sincronizar en la última hora.",
        "options": {}
      },
      "id": "email-empty",
      "name": "Gmail - Sin nuevas",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Schedule - Cada hora": {
      "main": [[
        {
          "node": "PostgreSQL - Citas nuevas (última hora)",
          "type": "main"
        }
      ]]
    },
    "PostgreSQL - Citas nuevas (última hora)": {
      "main": [[
        {
          "node": "IF - Hay nuevas",
          "type": "main"
        }
      ]]
    },
    "IF - Hay nuevas": {
      "main": [
        [
          {
            "node": "Google Sheets - Syncing",
            "type": "main"
          }
        ],
        [
          {
            "node": "Gmail - Sin nuevas",
            "type": "main"
          }
        ]
      ]
    },
    "Google Sheets - Syncing": {
      "main": [[
        {
          "node": "PostgreSQL - Mark synced",
          "type": "main"
        }
      ]]
    },
    "PostgreSQL - Mark synced": {
      "main": [[
        {
          "node": "Gmail - Notificación",
          "type": "main"
        }
      ]]
    },
    "Gmail - Sin nuevas": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "google-sheets-sync"
}