infrastructure/n8n/recordatorios.json
{
  "name": "Recordatorios - Citas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.id,\n  a.scheduled_at,\n  p.first_name,\n  p.last_name,\n  p.email,\n  p.phone,\n  a.appointment_type\nFROM appointments a\nJOIN patients p ON a.patient_id = p.id\nWHERE \n  a.status = 'confirmed'\n  AND a.scheduled_at BETWEEN NOW() AND NOW() + INTERVAL '25 hours'\n  AND a.scheduled_at > NOW()",
        "options": {}
      },
      "id": "get-appointments",
      "name": "PostgreSQL - Obtener Citas Próximas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "value1": "={{$json.time_until}}",
                "operation": "lte",
                "value2": "=1"
              }
            ]
          },
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1h",
      "name": "IF - 1 hora antes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 150]
    },
    {
      "parameters": {
        "rule": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "value1": "={{$json.time_until}}",
                "operation": "lte",
                "value2": "=24"
              },
              {
                "value1": "={{$json.time_until}}",
                "operation": "gt",
                "value2": "=1"
              }
            ]
          },
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-24h",
      "name": "IF - 24 horas antes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 450]
    },
    {
      "parameters": {
        "to": "{{$json.email}}",
        "subject": "⏰ Recordatorio: Tu cita es en 1 hora",
        "body": "Hola {{$json.first_name}},\n\nTe recordamos que tienes una cita en *1 hora*.\n\n📅 Fecha: {{$json.date}}\n⏰ Hora: {{$json.time}}\n📋 Tipo: {{$json.appointment_type}}\n\nLink de Google Meet: {{$json.meet_link}}\n\nTe pedimos llegar 5 minutos antes.\n\nSi necesitas cancelar, hazlo con 24h de anticipación.\n\nSaludos,\nAsistente Psicológico",
        "options": {}
      },
      "id": "email-1h",
      "name": "Email - Recordatorio 1h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "to": "{{$json.email}}",
        "subject": "📅 Recordatorio: Tu cita es mañana",
        "body": "Hola {{$json.first_name}},\n\nTe recordamos que tienes una cita *mañana*.\n\n📅 Fecha: {{$json.date}}\n⏰ Hora: {{$json.time}}\n📋 Tipo: {{$json.appointment_type}}\n\nLink de Google Meet: {{$json.meet_link}}\n\nPor favor, confirma tu asistencia.\n\nSaludos,\nAsistente Psicológico",
        "options": {}
      },
      "id": "email-24h",
      "name": "Email - Recordatorio 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "to": "{{$json.phone}}@c.us",
        "message": "⏰ Hola {{$json.first_name}}, te recordamos tu cita en 1 hora. Fecha: {{$json.date}},Hora: {{$json.time}}. Link: {{$json.meet_link}}",
        "options": {}
      },
      "id": "whatsapp-1h",
      "name": "WhatsApp - Recordatorio 1h",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "message": "📅 Hola {{$json.first_name}}, te recordamos tu cita mañana a las {{$json.time}}. Por favor confirma.",
        "options": {}
      },
      "id": "whatsapp-24h",
      "name": "WhatsApp - Recordatorio 24h",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Schedule - Cada Hora": {
      "main": [[
        {
          "node": "PostgreSQL - Obtener Citas Próximas",
          "type": "main"
        }
      ]]
    },
    "PostgreSQL - Obtener Citas Próximas": {
      "main": [[
        {
          "node": "IF - 1 hora antes?",
          "type": "main"
        }
      ]]
    },
    "IF - 1 hora antes?": {
      "main": [
        [
          {
            "node": "Email - Recordatorio 1h",
            "type": "main"
          }
        ],
        [
          {
            "node": "IF - 24 horas antes?",
            "type": "main"
          }
        ]
      ]
    },
    "IF - 24 horas antes?": {
      "main": [
        [
          {
            "node": "Email - Recordatorio 24h",
            "type": "main"
          }
        ]
      ]
    },
    "Email - Recordatorio 1h": {
      "main": [[
        {
          "node": "WhatsApp - Recordatorio 1h",
          "type": "main"
        }
      ]]
    },
    "Email - Recordatorio 24h": {
      "main": [[
        {
          "node": "WhatsApp - Recordatorio 24h",
          "type": "main"
        }
      ]]
    }
  },
  "active": false,
  "settings": {},
  "id": "recordatorios"
}